/* ============= GLOBAL CSS =============== */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Fugaz+One&family=Lato:wght@300;400;700;900&family=Pompiere&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* COLORS */
  --off-white: #f3f3f5;
  --white: #ffffff;
  --black: #000;
  --light-black: #222;
  --light-mauve: #645cff;
  --dark-mauve: #3c3799;
  --light-blue: #27a8ee;
  --dark-blue: #1c81b9;
  --light-red: #f8d7da;
  --dark-red: #842029;
  --light-green: #d1e7dd;
  --dark-green: #077441;
  --light-orange: #f38d1e;
  --dark-orange: #e06a2d;
  --light-gray: #c2c1c1;
  --dark-gray: #727272;
  /* BORDERS*/
  --border-radius: 0.4rem;
  --border-solid: 1px solid #dddddd;
  /* WIDTH */
  --max-width: 1170px;
  --fixed-width: 620px;
  /* FONT FAMILY */
  --font-family: 'Fira Sans Condensed', sans-serif;
  /* BOX SHADOW*/
  --light-shadow: 2px 4px 8px -1px #00000057, 0 1px 2px 0 #00000030;
  --dark-shadow: 0px 10px 15px -3px #00000075, 0px 4px 6px -2px #0000005e;
  /* MORE HELPER STYLE */
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  --letter-spacing: 1px;
  --line-height: 1.6;
  --transition: all 0.3s linear;
}

body {
  background: var(--white);
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}
/* TEXT AND HEADING */
p {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: var(--line-height);
  color: var(--dark-gray);
  text-transform: capitalize;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  color: var(--light-mauve);
}

h1 {
  font-size: calc(2.375rem + 1.7vw);
}

h2 {
  font-size: calc(2.325rem + 1.3vw);
}

h3 {
  font-size: calc(2.3rem + 0.8vw);
}

h4 {
  font-size: calc(2rem + 0.6vw);
}

h5 {
  font-size: calc(1.85rem + 0.6vw);
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: calc(1.75rem + 1.7vw);
  }

  h2 {
    font-size: calc(1.65rem + 1.5vw);
  }

  h3 {
    font-size: calc(1.55rem + 1.2vw);
  }

  h4 {
    font-size: calc(1.45rem + 1.1vw);
  }

  h5 {
    font-size: calc(1.45rem + 0.8vw);
  }
  p {
    font-size: 1.05rem;
  }
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
  color: var(--dark-gray);
  text-transform: capitalize;
  display: block;
}

/* LINK */
a {
  text-decoration: none;
}
/* LIST */
ul {
  list-style-type: none;
  padding: 0;
}
/* IMG */
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
/* buttons */
.btn {
  cursor: pointer;
  background-color: var(--light-mauve);
  color: var(--white);
  border: 2px solid var(--light-mauve);
  border-radius: var(--border-radius);
  letter-spacing: var(--letter-spacing);
  padding: 0.375rem 0.75rem;
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  font-weight: 700;
}

.btn:hover {
  background-color: var(--dark-mauve);
}

.btn-block {
  display: block;
  width: 70%;
  margin: 0.8rem auto;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--border-radius);
}

.alert-danger {
  color: var(--dark-red);
  background: var(--light-red);
}
.alert-success {
  color: var(--dark-green);
  background: var(--light-green);
}
/* form */
.form {
  width: 85vw;
  max-width: 400px;
  background: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--light-shadow);
  padding: 2rem 2.5rem;
  margin: 1rem auto;
}
.form-label {
  letter-spacing: var(--letter-spacing);
  display: block;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--clr-grey-3);
  margin-bottom: 0.5rem;
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius);
  background: var(--white);
  border: 1px solid var(--light-gray);
  position: relative;
  font-size: 1.15rem;
}
.form-input:focus {
  outline: 1px solid var(--light-mauve);
}

.form-select {
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius);
  background: var(--white);
  border: 1px solid var(--light-gray);
}

.form-row {
  margin-bottom: 1rem;
}
.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  text-transform: uppercase;
  color: var(--light-gray);
  font-size: 0.8em;
}
.form-alert {
  color: var(--dark-red);
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
}
/* LOADING */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--light-gray);
  border-radius: 50%;
  border-top-color: var(--light-mauve);
  animation: spinner 1s linear infinite;
  margin: 0 auto;
}

/* TITLE */
.title-wrapper {
  text-align: center;
}
.title {
  margin-bottom: 0.75rem;
}
/* UNDERLINE */
.underline {
  height: 3px;
  border-radius: var(--border-radius);
  background-color: var(--light-mauve);
  width: 60px;
  margin: 0.5rem auto;
}

/* CONTAINER */
.section-container {
  padding: 4rem 0;
  margin: 0 auto;
  max-width: 1320px;
}

.full-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-center {
  width: 85vw;
  max-width: var(--max-width);
  margin: 0 auto;
}

/* ============== START PROJECT STYLE  ======== */

/* FORM REST */

.form-title {
  margin-bottom: 1.5rem;
}

.error-msg {
  color: var(--dark-red);
  font-size: 1rem;
}

.submit-btn {
  display: block;
  margin: 1.5rem auto 0;
  font-family: var(--font-family);
  letter-spacing: 2px;
}

/* 
===================
MODAL 
==================
*/
.modal {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  display: none;
  text-align: center;
}

.modal.show {
  display: grid;
  place-items: center;
}

.modal-center {
  box-shadow: var(--light-shadow);
  background: var(--white);
  padding: 2rem 1rem;
  border-radius: var(--border-radius);
  max-width: var(--fixed-width);
  margin: 0 auto;
  width: 85%;
  max-width: var(--fixed-width);
}

.modal-title {
  margin-bottom: 1.5rem;
}

.congrats-img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 1rem auto;
}

p span {
  color: var(--dark-green);
  display: inline-block;
  margin: 0 0.2rem;
  font-weight: 600;
}

.close-modal-btn {
  background-color: var(--dark-orange);
  border: none;
  outline: none;
  text-transform: capitalize;
  display: block;
  margin-top: 1.5rem;
  margin: 1.5rem auto 0;
}
.close-modal-btn:hover {
  background-color: var(--dark-orange);
  transform: scale(1.1);
  box-shadow: var(--light-shadow);
}

/* 
===================
QUESTION
==================
*/

.question {
  box-shadow: var(--light-shadow);
  padding: 1.3rem;
  border-radius: var(--border-radius);
  position: relative;
  max-width: var(--fixed-width);
  margin: 0 auto;
}

.correct-answer {
  text-align: end;
  margin-bottom: 1.5rem;
}

.correct-answer p {
  color: var(--dark-green);
}

.question-title {
  font-size: 1.15rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  text-align: center;
}

.next-question {
  background-color: var(--dark-orange);
  border: none;
  outline: none;
  text-transform: capitalize;
  display: block;
  margin-top: 1.5rem;
  margin-left: auto;
}
.next-question:hover {
  background-color: var(--dark-orange);
  transform: scale(1.1);
}
